.section {
	margin: 80px 0 0 0;
	padding: 20px 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	&__count {
		position: absolute;
		top: -80px;
		left: -50px;
		font-size: 356px;
		font-weight: bold;
		font-style: normal;
		line-height: 1;
		color: var(--default-background-color);
		opacity: .5;
	}
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
	z-index: 5;
	padding-bottom: 120px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.info {
	margin: 0;
	width: 100%;
	display: flex;
	align-items: center;
}

.tag {
	margin: 0;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	color: var(--accent-grey-color);
}

.title {
	margin: 12px 0 0 0;
	font-size: 64px;
	font-weight: bold;
	font-style: normal;
	line-height: 1.15;
	color: var(--main-black-color);
}

.text {
	margin: 0 0 0 auto;
	max-width: 50%;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.15;
	color: var(--main-black-color);
}

.list {
	margin: 40px 0 0 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 20px;
}

.item {
	margin: 0;
	width: 100%;
	height: 267px;
	border-radius: 30px;
	position: relative;
	&__img {
		margin: 0;
		width: 100%;
		height: 267px;
		border-radius: 30px;
		object-fit: cover;
		object-position: center;
	}
	&__overlay {
		margin: 0;
		width: 100%;
		height: 267px;
		border-radius: 30px;
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(to bottom, rgba(35, 60, 255, 0.2) 0%, rgba(35, 60, 255, 1) 80%);
		display: flex;
		align-items: flex-end;
		justify-content: center;
		opacity: 0;
		transition: opacity .3s ease-in-out;
	}
	&__text {
		margin: 0 0 20px 0;
		font-size: 20px;
		font-weight: normal;
		font-style: normal;
		line-height: 1.15;
		color: var(--main-white-color);
	}
}

.item:hover .item__overlay {
	opacity: 1;
}

@media all and (max-width: 1440px) {
	.container  {
		max-width: 1280px;
	}
	.title {
		font-size: 56px;
	}
	.text {
		font-size: 20px;
	}
}

@media all and (max-width: 1280px) {
	.container  {
		max-width: 1240px;
	}
	.title {
		font-size: 48px;
	}
	.text {
		font-size: 20px;
	}
}

@media all and (max-width: 800px) {
	.section {
		margin: 120px 0 0 0;
		&__count {
			font-size: 244px;
		}
	}
	.container  {
		max-width: none;
		padding: 0 8px;
		box-sizing: border-box;
	}
	.tag {
		font-size: 16px;
	}
	.info {
		flex-direction: column;
		align-items: flex-start;
	}
	.title {
		font-size: 44px;
		line-height: 1;
	}
	.text {
		margin: 8px 0 0 0;
		max-width: none;
		font-size: 16px;
	}
	.list {
		margin: 24px 0 0 0;
		flex-direction: column;
	}
	.item__text {
		margin: 0 0 16px 0;
		font-size: 16px;
	}
}
